# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
*.env

# Logs
*.log
logs/etl_project_log.txt

# Database files
*.db
database/Banks.db

# OS files
.DS_Store
Thumbs.db

# IDE files (optional)
.vscode/
.idea/
